<template>
  <div>
    <header>
      <h1>Vista con Layout</h1>
    </header>
    <router-view></router-view>
  </div>
</template>
<style scoped>
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(201, 201, 201);
}
</style>
