<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <style>
      .name-section {
        background-color: rgb(235, 235, 235);
        padding: 20px;
      }
      p {
        margin: 0;
      }
      label {
        font-weight: 900;
      }
      li {
        font-size: 20px;
        cursor: pointer;
      }
      #pendiente {
        color: rgb(206, 206, 206);
      }
      #completado {
        color: rgb(10, 165, 87);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <section class="name-section">
        <label for="name">Ingresa tu nombre</label>
        <input type="text" name="name" v-model="username" />
        <p>Hola {{username}}</p>
      </section>
      <ul>
        <li
          v-for="todo, i in todos"
          :key="'todo'+i"
          @click="todoStatusHandler(i)"
        >
          {{todo.title}}
          <small v-if="todo.done" id="completado">Completado</small>
          <small v-else id="pendiente">Pendiente</small>
        </li>
      </ul>
      <p>Nº de pendientes: {{todosPendingCount}}</p>
      <p v-if="isAllTodosCompleted">
        Felicitaciones <strong>{{username}}</strong>, ya no tienes
        pendientes!!!!
      </p>
    </div>
    <script>
      new Vue({
        name: "App",
        el: "#app",
        data() {
          return {
            title: "This is the Clase 1 test site title",
            username: "",
            todos: [
              { done: false, title: "Presentar Clase" },
              { done: false, title: "Presentar Vue" },
              { done: false, title: "Como añadir vue a un archivo HTML" },
              { done: false, title: "Interactuar con las propiedades de Vue" },
            ],
            todosPendingCount: 4,
            isAllTodosCompleted: false,
          };
        },
        methods: {
          todoStatusHandler(i) {
            const selectedTodo = this.todos[i];
            selectedTodo.done = !selectedTodo.done;
            this.todosPendingCount += selectedTodo.done ? -1 : +1;
            this.isAllTodosCompleted = this.todos.every((todo) => todo.done);
          },
        },
      });
    </script>
  </body>
</html>



