<template>
  <div class="child">
    <p>this is a child component</p>
    <button @click="sayHelloToParent">Enviar mensaje al padre</button>
    <p>
      <strong>Mensaje desde el padre </strong>
      <span>{{ msg ? msg : "Ninguno aún" }}</span>
    </p>
  </div>
</template>
<script>
export default {
  props: ["msg"],
  methods: {
    sayHelloToParent() {
      this.$emit("msg", "foo bar parent");
    },
  },
};
</script>
<style scoped>
.child {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  min-width: 500px;
}
</style>
