<template>
  <div>
    <h1>Vue LifeCycle</h1>
    <p>count: {{ count }}</p>
    <button @click="count++">contar</button>
    <p>Componnete montado hace {{ seconds }} segundos</p>
  </div>
</template>
<script>
export default {
  data() {
    return {
      count: 0,
      seconds: 0,
      interval: null,
    };
  },
  beforeCreate() {
    console.log("BEFORE CREATED !");
  },
  created() {
    console.log("CREATED !");
  },
  beforeMount() {
    console.log("BEFORE MOUNTED !");
  },
  mounted() {
    console.log("MOUNTED !");
    this.interval = setInterval(() => {
      this.seconds++;
      console.log("INTERVALED");
    }, 1000);
  },
  beforeUpdated() {
    console.log("BEFORE UPDATED !");
  },
  updated() {
    console.log("UPDATED !");
  },
  beforeDestroy() {
    console.log("BEFORE DESTROYED !");
    clearInterval(this.interval);
  },
  destroyed() {
    console.log("DESTROYED !");
  },
};
</script>
