<template>
  <div class="flex">
    <div class="parent">
      <p>This a parent component</p>
      <button @click="sayHelloToChild">Enviar mensaje a hijo</button>
      <p>
        <strong>Mensaje desde el hijo </strong>
        <span>{{ msgFromChild ? msgFromChild : "Ninguno aún" }}</span>
      </p>
    </div>
    <child-comp :msg="msgToChild" @msg="receiveMsgFromChild" />
  </div>
</template>
<script>
export default {
  data() {
    return {
      msgToChild: "",
      msgFromChild: "",
    };
  },
  components: {
    "child-comp": () => import("@/components/ChildComp"),
  },
  methods: {
    sayHelloToChild() {
      this.msgToChild = "foo bar child";
    },
    receiveMsgFromChild(evt) {
      this.msgFromChild = evt;
    },
  },
};
</script>
<style scoped>
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent {
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  min-width: 500px;
}
</style>
