<template>
  <div class="form-container" >
    <h1>{{ title }}</h1>
    <form novalidate @submit.prevent="onSubmit">
      <label for="description">Tarea a Realizar</label>
      <input id="description" name="description" autocomplete="off" v-model="description" />
      <button :class="{ 'btn': true, 'btn-loading': IS_ADDING_TODO, 'btn-std': !IS_ADDING_TODO }" type="submit"> {{ btnText }} </button>
      <p :class="{'error-text': true, hidden: !isDescriptionEmpty}">Debes añadir una descripción</p>
    </form>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'TodoForm',
  props: {
    title: {
      type: String,
      default: 'no-title'
    }
  },
  data() {
    return {
      description: '',
      isDescriptionEmpty: false,
      isMounted: false
    }
  },
  mounted() {
    this.isMounted = this.isMountedFn();
  },
  computed: {
    ...mapGetters(['IS_ADDING_TODO']),
    btnText() {
      return this.IS_ADDING_TODO ? '...Añadiendo':'Crear Tarea';
    }
  },
  methods: {
    ...mapActions(['ADD_TODO']),
    isMountedFn() {
      return true;
    },
    async onSubmit() {
      if (!this.description) {
        this.isDescriptionEmpty = true;
        return;
      }
      await this.ADD_TODO({ id: Date.now(), description: this.description });
      this.description = '';
      this.isDescriptionEmpty = false;
    }
  }
}
</script>
<style lang="css" scoped>
input {
  width: 95%;
  margin: 0 auto;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 100px;
  outline: none;
  border: 1px solid rgb(163, 163, 163);
  transition: all 0.3s;
}
input:focus {
  border: 1px solid rgb(2, 78, 2);
}
label {
  margin-left: 1rem;
}
.form-container {
  background-color: rgb(223, 223, 223);
  padding: 1rem;
  border-radius:25px;
  margin-bottom: 0.5rem;
}
.btn {
  border-radius: 25px;
  border: 2px solid white;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
  margin: 0.5rem auto;
  display: block;
  transition: all 0.3s;
  font-weight: 700;
}
.btn-std {
  background-color: rgb(2, 78, 2);
  cursor: pointer;
}
.btn-loading {
  background-color: rgb(82, 82, 82);
  user-select: none;
}
.btn-std:hover {
  background-color: rgb(19, 128, 68);
  box-shadow: rgba(75, 75, 75, 0.445) 0px 5px 20px;
  transform: scale(1.01);
}
.error-text {
  text-align: center;
  color: rgb(179, 11, 11);
  margin:0;
}
.hidden {
  display: none;
}
</style>