<template>
  <div class="list-container">
    <template v-if="TODOS.length">
      <div class="todo-item" v-for="todo in TODOS" :key="todo.id">
        <p :class="{'todo-text': true, 'line-through': todo.isComplete}"> {{ todo.description }} </p>
        <div class="todo-btn complete-btn" v-if="!todo.isComplete" @click="CHANGE_TODO_STATUS(todo.id)">
          <check />
        </div>
        <div class="todo-btn pending-btn" v-else @click="CHANGE_TODO_STATUS(todo.id)">
          <do-not-disturb />
        </div>
      </div>
    </template>
    <template v-else>
      <p class="todos-pending-none">No hay tareas pendientes</p>
    </template>
  </div>
</template>
<script>
import Check from 'vue-material-design-icons/Check.vue';
import DoNotDisturb from 'vue-material-design-icons/DoNotDisturb.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
  components: {
    Check,
    DoNotDisturb
  },
  computed: {
    ...mapGetters(['TODOS', 'IS_ADDING_TODO'])
  },
  methods: {
    ...mapActions(['CHANGE_TODO_STATUS'])
  }
};
</script>
<style scoped>
.list-container {
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 25px;
  margin-bottom: 0.5rem;
}
.todo-item {
  display: flex;
  align-items: center;
}
.todo-text {
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid rgb(121, 121, 121);
  flex-grow: 2;
  padding: 0.3rem 0.4rem;
  margin: 0.2rem;
  border: 2px solid rgb(216, 216, 216);
  font-size: 1.1rem;
  box-shadow: rgba(75, 75, 75, 0.089) 0px 2px 10px;
}
.todo-btn {
  flex-shrink: 1;
  padding: 0.3rem 0.3rem;
  margin: 0.2rem;
  border: 2px solid #fff;
  border-radius: 15px;
  box-shadow: rgba(75, 75, 75, 0.089) 0px 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}
.todo-btn p {
  margin: 0;
}
.complete-btn {
  background-color: rgb(17, 114, 25);
  transition: all 0.3s;
}
.complete-btn:hover {
  transform: scale(1.02);
  background-color: rgb(25, 156, 36);
  box-shadow: rgba(75, 75, 75, 0.089) 0px 2px 10px;
}
.pending-btn {
  background-color: rgb(170, 36, 36);
  transition: all 0.3s;
}
.pending-btn:hover {
  transform: scale(1.02);
  background-color: rgb(206, 43, 43);
  box-shadow: rgba(75, 75, 75, 0.089) 0px 2px 10px;
}
.todo-btn span {
  display: flex;
}
.line-through {
  text-decoration: line-through;
  color: rgb(175, 175, 175);
}
.todos-pending-none {
  text-align: center;
}
</style>
