<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <hr />
    <button @click="showLifeCycleComp = !showLifeCycleComp">
      SHOW LIFECYCLE COMP
    </button>
    <div v-if="showLifeCycleComp">
      <life-cycle-comp />
    </div>
    <hr />
    <button @click="showParentComp = !showParentComp">SHOW PARENT CHILD</button>
    <div v-if="showParentComp">
      <parent-comp></parent-comp>
    </div>
    <hr />
    <global-comp />
    <hr />
    <button @click="changeComp">CHANGE COMP</button>
    <component :is="dynamicComp" />
  </div>
</template>

<script>
import LifeCycle from "./components/LifeCycle.vue";
import Comp1 from "./components/Comp1.vue";
import Comp2 from "./components/Comp2.vue";

export default {
  name: "App",
  components: {
    "life-cycle-comp": LifeCycle,
    "parent-comp": () => import("@/components/ParentComp"),
    "comp-1": Comp1,
    "comp-2": Comp2,
  },
  data() {
    return {
      showLifeCycleComp: false,
      showParentComp: false,
      dynamicComp: "comp-1",
    };
  },
  methods: {
    changeComp() {
      this.dynamicComp = "comp-2";
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
