<template>
  <div>
    <p>GET</p>
    <button @click="makeGet">MAKE GET</button>
    <p>
      {{ message }}
    </p>
    <pre>
      {{ data }}
    </pre>
    <hr />
    <p>HEAVY GET</p>
    <button @click="makeHeavyGet">MAKE GET</button>
    <div class="download-container">
      <div
        class="download-bar"
        :style="`width:${imageDownloadProgress}%`"
      ></div>
      <p class="download-message" v-if="imageDownloadProgress === 100">
        COMPLETADO
      </p>
    </div>
    <p>Descargando ... {{ imageDownloadProgress }}%</p>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      message: "",
      data: {},
      imageDownloadProgress: 0,
    };
  },
  methods: {
    async makeGet() {
      try {
        const request = await axios.get(
          "https://jsonplaceholder.typicode.com/todos/1"
        );
        this.message = "GET request DONE!";
        this.data = request.data;
        console.log(request);
      } catch (error) {
        console.log(error.toJSON());
      }
    },
    async makeFullPost() {
      try {
        const request = await axios({
          method: "post",
          url: "/posts",
          data: {
            title: "My First Post",
            body: "Este es un gran post",
          },
        });
        this.data = request.data;
      } catch (error) {
        console.log(error.toJSON());
      }
    },
    makeHeavyGet() {
      const url =
        "https://i0.wp.com/wallpapershome.com/images/wallpapers/sky-3840x2160-5k-4k-wallpaper-clouds-planet-light-atmosphere-cyclone-732.jpg";
      axios
        .get(url, {
          onDownloadProgress: (evt) => {
            const { loaded, total } = evt;
            this.imageDownloadProgress = Math.floor((loaded * 100) / total);
          },
        })
        .then((file) => {
          console.log({ file });
        })
        .catch((error) => {
          console.log(error.toJSON());
        });
    },
  },
};
</script>
<style scoped>
.download-container {
  height: 20px;
  position: relative;
  background-color: rgb(241, 241, 241);
  width: 200px;
  margin: 10px auto 0;
}
.download-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(11, 100, 11);
}
.download-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -120%);
  color: #fff;
}
</style>
