<template>
  <div>
    <header>
      <p>this is the header</p>
      <slot name="header"></slot>
    </header>
    <section>
      <p>this is the body</p>
      <slot></slot>
    </section>
    <footer>
      <p>this is the footer</p>
      <slot name="footer"></slot>
    </footer>
  </div>
</template>
<style scoped>
header,
footer {
  background-color: rgb(216, 216, 216);
}
header,
footer,
section {
  padding: 20px;
}
</style>
