<template>
  <form @submit.prevent="onSubmit">
    <div class="input-div">
      <label for="name">Nombre</label>
      <input type="text" name="name" v-model.trim="$v.formData.name.$model" />
      <div class="error" v-if="isSubmitted && !$v.formData.name.required">
        Nombre es requerido
      </div>
    </div>
    <div class="input-div">
      <label for="email">Email</label>
      <input type="text" name="email" v-model.trim="$v.formData.email.$model" />
      <div class="error" v-if="isSubmitted && !$v.formData.email.required">
        Email es requerido
      </div>
      <div class="error" v-if="isSubmitted && !$v.formData.email.email">
        No es un email válido
      </div>
    </div>
    <div class="input-div">
      <label for="age">Edad</label>
      <input type="text" name="age" v-model.trim="$v.formData.age.$model" />
      <div class="error" v-if="isSubmitted && !$v.formData.age.required">
        Edad es requerida
      </div>
      <div class="error" v-if="isSubmitted && !$v.formData.age.between">
        Edad debe ser entre 20 y 30
      </div>
    </div>
    <div class="input-div">
      <label for="password">Contraseña</label>
      <input
        type="text"
        name="password"
        v-model.trim="$v.formData.password.$model"
      />
      <div class="error" v-if="isSubmitted && !$v.formData.password.required">
        Contraseña es requerida
      </div>
      <div class="error" v-if="isSubmitted && !$v.formData.password.minLength">
        Contraseña demasiado corta
      </div>
    </div>
    <div class="input-div">
      <label for="repeat-password">Repetir Contraseña</label>
      <input
        type="text"
        name="repeat-password"
        v-model.trim="$v.formData.confirmPassword.$model"
      />
      <div
        class="error"
        v-if="isSubmitted && !$v.formData.confirmPassword.sameAsPassword"
      >
        Contraseña no concuerda
      </div>
    </div>
    <div class="input-div">
      <button type="submit">Enviar</button>
    </div>
  </form>
</template>
<script>
import {
  required,
  minLength,
  email,
  sameAs,
  between,
} from "vuelidate/lib/validators";
import { helpers } from 'vuelidate/lib/validators';

const mustInclude = (param) => (value) => {
  !helpers.req(value) || value.indexOf(param) >= 0;
};

export default {
  data() {
    return {
      formData: {
        name: "",
        email: "",
        age: 0,
        password: "",
        confirmPassword: "",
        mustInclude: "",
      },
      isSubmitted: false,
    };
  },
  validations: {
    formData: {
      name: { required },
      age: { required, between: between(20, 30) },
      email: { required, email },
      password: { required, minLength: minLength(8) },
      confirmPassword: { required, sameAsPassword: sameAs("password") },
      mustInclude: mustInclude("vue"),
    },
  },
  methods: {
    onSubmit() {
      this.isSubmitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) return;
      console.log("SUBMITTED OK !");
    },
  },
};
</script>
<style scoped>
form {
  width: 330px;
  margin: 0 auto;
}
label {
  display: inline-block;
  width: 140px;
  margin-right: 10px;
}
input {
  width: 140px;
}
.input-div {
  padding: 10px;
}
.error {
  font-size: 10px;
  text-align: right;
  color: red;
}
</style>
