<template>
  <div id="app">
    <div class="counter-container">
      <h4>Counter</h4>
      <h4>{{ count }}</h4>
      <div class="counter-btns">
        <button class="counter-btn" @click="increment">Aumentar</button>
        <button class="counter-btn" @click="decrement">Reducir</button>
        <div style="margin: 20px 0">
          <input type="number" v-model.number="change" />
          <button @click="changeValue">Modificar</button>
        </div>
      </div>
    </div>
    <div class="comps-container">
      <comp-a></comp-a>
      <comp-b></comp-b>
    </div>
  </div>
</template>

<script>
import CompA from "./components/CompA.vue";
import CompB from "./components/CompB.vue";

export default {
  name: "App",
  components: {
    "comp-a": CompA,
    "comp-b": CompB,
  },
  data() {
    return {
      change: 0,
    };
  },
  computed: {
    count() {
      return this.$store.getters["countValue"];
    },
  },
  methods: {
    increment() {
      this.$store.commit("increment");
    },
    decrement() {
      this.$store.commit("decrement");
    },
    changeValue() {
      this.$store.dispatch("changeValueAction", this.change);
    },
  },
};
</script>
<style scoped>
.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.counter-btn {
  width: 50%;
}
.comps-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
