<template>
  <div class="comp-style">
    <p>comp B</p>
    <p>Username: {{ userName }}</p>
  </div>
</template>
<script>
export default {
  computed: {
    userName() {
      return this.$store.getters["user/userName"];
    },
  },
};
</script>
<style scoped>
.comp-style {
  width: 50%;
  background-color: rgb(193, 196, 170);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  flex-direction: column;
}
</style>
