<template>
  <div class="comp-style">
    <p>comp A</p>
    <div>
      <input type="text" v-model="userName" />
      <button @click="setUserName">Enviar</button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      userName: "",
    };
  },
  methods: {
    setUserName() {
      this.$store.commit("user/setUserName", this.userName);
      this.userName = "";
    },
  },
};
</script>
<style scoped>
.comp-style {
  width: 50%;
  background-color: rgb(195, 231, 231);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  flex-direction: column;
}
</style>
