<template>
  <p>Mapping store</p>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  computed: {
    ...mapGetters(["countValue", "user/userName"]),
  },
  methods: {
    ...mapMutations([
      "increment",
      "decrement",
      "changeValue",
      "user/setUserName",
    ]),
    ...mapActions(["changeValueAction"]),
  },
};
</script>
