<template>
  <div id="app">
    <div class="container">
      <todo-form title="¡ Super Todo List !" />
      <todo-list />
    </div>
  </div>
</template>

<script>
import TodoForm from '@/components/TodoForm';
import TodoList from '@/components/TodoList';

export default {
  name: 'App',
  components: {
    TodoForm,
    TodoList
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.container {
  width: 900px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
</style>
