<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
    <hr />
    <button @click="slot = !slot">Ver slot</button>
    <button @click="vuelidate = !vuelidate">Ver vuelidate</button>
    <button @click="axios = !axios">Ver axios</button>
    <hr />
    <div v-if="slot">
      <slot-comp>
        <template v-slot:header>
          <p>Ingresando contenido al header</p>
        </template>
        <p>Ingresando contenido al body</p>
        <template v-slot:footer>
          <p>Ingresando contenido al footer</p>
        </template>
      </slot-comp>
    </div>
    <div v-if="vuelidate">
      <vuelidate-comp />
    </div>
    <div v-if="axios">
      <axios-comp />
    </div>
  </div>
</template>

<script>
import SlotComp from "./components/SlotComp.vue";
import VuelidateComp from "./components/VuelidateComp.vue";
import AxiosComp from "./components/AxiosComp.vue";

export default {
  name: "App",
  components: {
    SlotComp,
    VuelidateComp,
    AxiosComp,
  },
  data() {
    return {
      slot: false,
      vuelidate: false,
      axios: true,
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
