<template>
  <div id="app">
    <header>
      <h1>Titulo de página principal</h1>
    </header>
    <nav>
      <router-link active-class="active" to="/view-1" tag="div">
        Vista 1
      </router-link>
      <router-link active-class="active" to="/view-2" tag="div">
        Vista 2
      </router-link>
      <router-link
        active-class="active"
        :to="{ name: 'view.3.index' }"
        tag="div"
      >
        Vista 3
      </router-link>
      <router-link
        active-class="active"
        :to="{ name: 'view.3.sibling' }"
        tag="div"
      >
        Vista 4
      </router-link>
    </nav>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
nav {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
nav div {
  border: 1px solid rgb(165, 165, 165);
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
}
.active {
  background-color: rgb(174, 204, 174);
}
</style>
