<template>
  <div>
    <h3>Iniciar Sesión</h3>
    <div>
      <input type="password" v-model="password" />
      <button @click="doLogin">Acceder</button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      password: "",
      passwordCheck: "asdf",
    };
  },
  methods: {
    doLogin() {
      sessionStorage.setItem(
        "isLoggedIn",
        this.password === this.passwordCheck
      );
      const pageToGo = sessionStorage.getItem("go");
      pageToGo && this.$router.push({ name: pageToGo });
    },
  },
};
</script>
