<template>
  <div>
    <p>Vista 1</p>
    <p style="cursor:pointer;" @click="$router.push('view-2')">Go to page 2</p>
    <p style="cursor:pointer;" @click="$router.push({ name: 'view.3.index'})">Go to page 3</p>
  </div>
</template>
