<template>
  <component :is="actualComp"></component>
</template>
<script>
import Comp1 from '@/components/Comp1.vue';
import Comp2 from '@/components/Comp2.vue';

export default {
  components: {
    'comp-1':Comp1,
    'comp-2':Comp2
  },
  data() {
    return {
      actualComp: 'comp-1'
    }
  }
}
</script>